* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0.5em 0;
}

.resume {
  margin: 0 auto;
  padding: 10px 15px;
  background-color: white;
  font-size: 12px;
  -webkit-box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7.5px 0px rgba(0, 0, 0, 0.75);
  width: 21cm;
  height: 29.7cm;
}

ul {
  margin: 0;
  /* padding: 0 0 0 1em; */
}

ul > li {
  margin-bottom: 0.25em;
}

ul:last-child {
  margin: 0;
}

.workplace > p {
  margin-top: 0;
}

.header {
  margin: 0 0 1em 0;
}

.section {
  margin-top: 0.5em;
}

.section:first-of-type {
  margin-top: 0;
}

.experience-node {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.header-socials {
  background-color: lightgray;
  margin: 10px -15px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-evenly;
  overflow-wrap: anywhere;
}

.header-socials > p {
  display: inline-block;
  text-align: center;
}

.label {
  font-weight: 800;
}

.date {
  font-style: italic;
  font-weight: 400;
  color: gray;
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: stretch;
  align-items: center;
  margin: 0 10px 0 0;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 60%;
  border: 2px solid gray;
}

.circle-container::before {
  content: "";
  border: 1px solid gray;
  height: calc(100% / 2 - 30px);
}

.circle-container::after {
  content: "";
  border: 1px solid gray;
  height: calc(100% / 2 - 30px);
}

.heading {
  width: 100%;
}

.gradient-text {
  background-color: rgb(142, 142, 142);
  background-image: linear-gradient(
    to right,
    var(--bg-colour-1, #536976),
    var(--bg-colour-2, #292e49)
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.bottom-border {
  height: 2px;
  background: #536976;
  background: linear-gradient(
    to right,
    var(--bg-colour-1, #536976),
    var(--bg-colour-2, #292e49)
  );
}

h1 {
  margin-top: 0.75em;
  margin-bottom: 1em;
}

.technologies {
  display: flex;
  justify-content: space-between;
}

.margin-heading {
  margin-top: 0.5em;
}

@media print {
  @page {
    size: 21cm 29.7cm;
  }
  .resume {
    -webkit-print-color-adjust: exact;
    height: 100%;
    width: 100%;
    position: fixed;
    box-shadow: none;
    top: 0;
    left: 0;
  }

  .header-socials {
    margin: 10px -15px;
  }
}

