.page {
  display: grid;
  grid-template: auto / auto;
  height: 100vh;
  background: #536976;
  background: linear-gradient(
    to right,
    var(--bg-colour-1, #536976),
    var(--bg-colour-2, #292e49)
  );
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --rotate-z: 0deg;
}

@media (max-width: 800px) {
  .page {
    grid-template: auto / auto;
  }
}

.mobile-nav-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  background-color: rgba(56, 59, 59, 0.692);
  display: grid;
}

* {
  font-family: "Satoshi-Regular";
}