.page {
  display: grid;
  overflow: auto;
  grid-template: auto / auto;
  height: 100%;
  padding: 4rem 2rem;
  background: #536976;
  background: linear-gradient(
    to right,
    var(--bg-colour-1, #536976),
    var(--bg-colour-2, #292e49)
  );
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --rotate-z: 0deg;
}

@media (max-width: 800px) {
  .page {
    padding: 4rem 0;
  }
}

* {
  font-family: "Satoshi-Regular";
}

.tool-tip {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid grey;
  max-width: 200px;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 12px;
  text-align: center;
  transition: all 1s ease;
}
